---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";
import { Image } from "astro:assets";
import comrades from "src/assets/images/comrades.png"

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <head>
  <!-- <meta http-equiv='refresh' content='0; URL=http://yggdrasil.vikingtactical.us:9999/apps/forms/s/8fqDa8zmjgowxqC8tgLdxsdk'> -->
  <meta http-equiv="refresh" content={`0; URL=${SITE.applicationLink}`} />
</head>
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <h1 class="my-4 inline-block text-accent text-4xl font-bold sm:my-8 sm:text-5xl">
        Please wait while you are redirected...
      </h1>
  </main>
  <Footer />
</Layout>
