---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";
import { Image } from "astro:assets";
import comrades from "src/assets/images/comrades.png"

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <h1 class="my-4 inline-block text-accent text-4xl font-bold sm:my-8 sm:text-5xl">
        Welcome to VTAC
      </h1>

      <p>
        ATTENTION! If you have landed yourself here at the gates of my beloved gaming clan that can only mean two things.<br>
        OPTION ONE: You're one of us and need no further instruction.<br>
        OPTION TWO: You're new around here, let me give you welcome package.<br><br>
      <Image src={comrades} alt="A bird sitting on a nest of eggs." width="1000" height="500" /><br>
        We are a decade-old gaming clan dedicated to providing experiences our members will remember for all their days.
        We pride ourselves on building each other up rather than tearing one down for one's own gain. We swear by our brothers and sisters
        to give each other our most authentic selves, help each other out, and most importantly, kick some ass in some video games together!
      </p>
      <p class="mt-2">
        Read the
        <LinkButton
          class="underline decoration-dashed underline-offset-4 hover:text-accent"
          href="https://vikingtactical.us/posts"
        >
          Intel Drops
        </LinkButton> for more info.
        Or Read about
        <LinkButton
          class="underline decoration-dashed underline-offset-4 hover:text-accent"
          href="https://vikingtactical.us/about"
        >
          us and our history
        </LinkButton><br><br>
        Good luck out there Cadet, you'll need it.
      </p>
      {
        // only display if at least one social link is enabled
        SOCIALS.length > 0 && (
          <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
            <div class="me-2 mb-1 whitespace-nowrap sm:mb-0">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="pt-12 pb-6">
            <h2 class="text-2xl font-semibold tracking-wide">Featured</h2>
            <ul>
              {featuredPosts.map(data => (
                <Card variant="h3" {...data} />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        All Posts
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
